/*  STYLE MAIN PAGE AND INFOPAGE */
/*  STYLE MAIN PAGE AND INFOPAGE */

.navbar{
  position: fixed;

}
#penn{
  color:#FFA500;
}
#line3{
  height: 2px;
  width: 77%;
  background-color:#FFA500 ;
}
#line-menu{
  height: 2px;
  width: 100%;
  background-color:#FFA500 ;
}

.mt-8 {
  border-radius:15px;
  margin: 50px;
}
.content {
  position: fixed;
  bottom: 15px;
  background: rgba(53, 48, 48, 0.5);
  color: #f1f1f1;
  width: 93%;
  padding: 50px;
}
/* style button start here */
.my-btn{
    display: flex;
    justify-content:center;
    align-items: center;
    
    
}

#myBtn-left {
    margin-right: 10px;
  border-top-left-radius: 25px ;
  border-bottom-left-radius:25px;
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #FFA500;
  color: #fff;
  cursor: pointer;
}
#myBtn-right {
  margin-left: 10px;
    border-top-right-radius: 25px ;
    border-bottom-right-radius:25px;
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border:1px solid #FFA500 ;
  /* background: #FFA500; */
  color: #fff;
  cursor: pointer;
}

#myBtn-left:hover {
  background: #fff;
  color:#FFA500 ;
}
#myBtn-right:hover {
  background: #FFA500;
  color:#fff;
}
/* contact btn */
.inline-flex {
    background-color: #FFA500;
}
.inline-flex:hover {
    border:1px solid #FFA500;
    color:#FFA500;
  background-color:#fff ;
  
}

/* HOME MENU ABOUT styling */
.inline-flex-1{
  border:1px solid #FFA500;
}
.inline-flex-1:hover{
  color:#FFA500;
}
/* bootom elment styling */
#quality-food{
  font-family:'fantasy';
  font-size:xx-large;
  
}

#line {
  height: 2px;
  width: 25%;
  background-color:#FFA500 ;
}
/* style up navbar */
/* .text-2xl{
  color:#FFA500;
} */
/* .text-sm {
  color:#FFA500;
} */

/* style info html start here */
/* ENTER button */
#enterbtn{
  background-color: #FFA500 ;
}
#line2{
  height: 2px;
  width: 100%;
  background-color:#FFA500 ;
}




/* MainPage Ends Here */
/* MainPage Ends Here */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* .min-h-screen {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.438), 0 15px 12px rgba(0, 0, 0, 0.493);
} */
body{
    background-image: url('https://c1.wallpaperflare.com/preview/231/211/688/knife-food-wood-table.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }
  /* style time and weather/location */

  #demo2 {
    color:black;
    font-size: x-large;
  }
  
  .cool{
    background-size: cover;
  }
  .h-32 {
    background-repeat: no-repeat;
    background-size: contain;
  }
/*   
  .h-24 w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32 {
    background-size: cover;
  } */
  
  /* .h-32 w-full object-cover {
      background-size: cover;
  }
   */


   .text-center{
     color:#FFA500;
     font-size: xx-large;
     
   }


  .max-h-12-1 {
    border-radius: 25px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.438), 0 15px 12px rgba(0, 0, 0, 0.493);
  }
  
  .max-h-12-1:hover{
    transform: scale(1.2);
    box-shadow: 0 19px 38px rgb(0, 0, 0), 0 15px 12px rgb(0, 0, 0);
    
  }
  .max-h-12-2 {
    border-radius: 25px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.438), 0 15px 12px rgba(0, 0, 0, 0.493);
  }
  .max-h-12-2:hover{
    transform: scale(1.1);
    box-shadow: 0 19px 38px rgb(0, 0, 0), 0 15px 12px rgb(0, 0, 0);
  }
  .max-h-12-3 {
    border-radius: 25px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.438), 0 15px 12px rgba(0, 0, 0, 0.493);
    
  }
  .max-h-12-3:hover{
    transform: scale(1.1);
    box-shadow: 0 19px 38px rgb(0, 0, 0), 0 15px 12px rgb(0, 0, 0);
    
  }
  
  .max-h-12-4 {
    border-radius: 25px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.438), 0 15px 12px rgba(0, 0, 0, 0.493);
  }
  
  .max-h-12-4:hover{
    transform: scale(1.1);
    box-shadow: 0 19px 38px rgb(0, 0, 0), 0 15px 12px rgb(0, 0, 0);
    
  }
  
  .max-h-12-5 {
    border-radius: 25px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.438), 0 15px 12px rgba(0, 0, 0, 0.493);
  }
  
  .max-h-12-5:hover{
    transform: scale(1.1);
    box-shadow: 0 19px 38px rgb(0, 0, 0), 0 15px 12px rgb(0, 0, 0);
    
  }
  
  .max-h-12-6 {
    border-radius: 25px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.438), 0 15px 12px rgba(0, 0, 0, 0.493);
  }
  
  .max-h-12-6:hover{
    transform: scale(1.1);
    box-shadow: 0 19px 38px rgb(0, 0, 0), 0 15px 12px rgb(0, 0, 0);
    
  }

  /* check box */
  /* for pizza section */
  .pizza{
    background-image: url('https://media.istockphoto.com/photos/pepperoni-pizza-on-wooden-table-picture-id1301482898?b=1&k=20&m=1301482898&s=170667a&w=0&h=XLgT9kG_7_n02S-YzOY71EzcGgqBnY-GukEfhjOui64=');
    background-repeat: no-repeat;
    background-size: cover;
  }
  ul li  {
    color: white;
  }
/* for pasta section */
.pasta{
  background-image: url('https://img.freepik.com/free-photo/penne-pasta-tomato-sauce-with-chicken-tomatoes-wooden-table_2829-19744.jpg?size=626&ext=jpg&ga=GA1.2.1937569697.1618099200');
}
  /* for salad section */
  .salad {
    background-image: url('https://img.freepik.com/free-photo/salad-from-tomatoes-cucumber-red-onions-lettuce-leaves-healthy-summer-vitamin-menu-vegan-vegetable-food-vegetarian-dinner-table-top-view-flat-lay_2829-6482.jpg?size=626&ext=jpg&ga=GA1.2.2140585734.1629504000');
  }


  /* styling Submit Your order */
  #submitOrder {
    
    color:white;
    font-size: large;
    margin-top: 25px;
    background-color:#FFA500;
    border-radius: 15px;
    border: none;
    padding:15px;
  }
  #submitOrder:hover {
    background-color: white;
    color:#FFA500;
    border:1px solid gray;
    
    
  }

  #add {
    padding: 15px;
    margin-top:20px ;
    margin-left:20px ;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: #FFA500;
  }
  #text1{
    color:#FFA500;
    font-size: x-large;
  }